// COLORS
//$green: #0f0;

//FONT MAPPINGS
//$primary-font: "Charmonman", cursive;
$dark-blue: #2d2f3b;
$light-dark-blue: #313747;
$pink: #f06b64;
$darker-pink: #ea676c;
$arrow: #ca454a;
$text: #676c89;
$white: #fff;
$hs: #666d89;
$button: #767e9e;
$border: #aebcbc;
$bgc: rgba(0, 0, 0, 0.5);
$last: #f0d8d9;
$input: #d75650;
$placeholder: #f28888;
$trans: rgba(0, 0, 0, 0);
